.lucky-radio-wrapper {
  color: #1f2d3d;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: inline-block;

  .lucky-radio__span {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    line-height: 1;
    vertical-align: middle;

    .lucky-radio-inner {
      position: relative;
      display: inline-block;
      border: 1px solid #bfcbd9;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      box-sizing: border-box;
      &:after {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
      }
    }

    .lucky-radio__original {
      opacity: 0;
      outline: 0;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }

  .lucky-radio__span.is-checked {
    .lucky-radio-inner {
      border-color: #20a0ff;
      background: #20a0ff;
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .lucky-radio__span.is-disable.is-checked {
    .lucky-radio-inner {
      &:after {
        background-color: #a8abb2;
      }
    }
  }
  .lucky-radio__span.is-disable {
    .lucky-radio-inner {
      background-color: #eef1f6;
      border-color: #d1dbe5;
      cursor: not-allowed;
    }
  }
}

.lucky-radio-wrapper.radio-size-lg {
  .lucky-radio__span {
    .lucky-radio-inner {
      width: 18px;
      height: 18px;
      &:after {
        width: 6px;
        height: 6px;
      }
    }
  }
}

.lucky-radio-wrapper.radio-size-sm {
  .lucky-radio__span {
    .lucky-radio-inner {
      width: 14px;
      height: 14px;
      &:after {
        width: 4px;
        height: 4px;
      }
    }
  }
}
.lucky-radioGroup {
  display: inline-block;
}
