.lucky-transition {
  --lucky-opacity: 0;
  --lucky-duration: 200ms;
  --lucky-direction: top;
  --lucky-origin: center top;
  --lucky-transform: scaleY(1);
}

.lucky-transition-enter {
  display: none;
}

.lucky-transition-enter-active {
  opacity: var(--lucky-opacity);
  transform: var(--lucky-transform);
  transition: opacity var(--lucky-duration) cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    transform var(--lucky-duration) cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: var(--lucky-origin);
}

.lucky-transition-leave {
  display: none;
}

.test {
  width: 200px;
  height: 200px;
  background-color: blue;
}
