.lucky-icon {
}

@each $key, $theme in $theme-colors {
  .lucky-icon-#{$key} {
    fill: $theme;
  }
}

.lucky-spin-icon-rotate {
  animation: lucky-spin-icon 1s linear 0s infinite;
}

@keyframes lucky-spin-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
